/* MAIN STORY STYLES - MAINSTORY.SASS */

#mainstory
  #mainstory-wrapper
    +flex(column, center, center)

    .black
      color: #000000

    p
      font-size: 1.05em
      line-height: 1.5em

    #gallery, figure
      margin: 3em 0

    figure
      +flex(column, center, center)

      figcaption
        font-family: $font-heading
        margin: .5em 0 0 0