/* COMMON STYLES -- COMMON.SASS */

*
  +transition(all, .25s, ease-in-out, 0s)

*,
html
  box-sizing: border-box

::-webkit-scrollbar
  display: none

html, body
  color: $black
  margin: 0

h1, h2, h3, h4, h5, h6, ol, ul
  font-family: $font-heading

p, a, li
  font-family: $font-body
  font-weight: 400

a, button
 +hocus
    cursor: pointer
a
  text-decoration: none
  +hocus
    font-weight: 600

button
  border: none
  outline: none

section
  +flex(column, center, center)
  padding: 2em 0
  .wrapper
    h1, .list-heading
      color: $dbk-red

    h1
      font-size: 2em
      text-transform: uppercase

    .list-heading
      margin: 2em 0 .625em
      text-transform: uppercase

    .p-heading
      font-family: $font-heading
      margin: 2.5em 0 0

    .descrip
      span
        font-weight: bold

    ul
      li
        font-family: $font-heading
        margin: 1em 0 .25em
        
        ul
          li, p.descrip
            font:
              family: $font-body
              size: 1em
            margin: .5em 0

    p
      margin-bottom: 0
